@media screen and (min-width:320px) and (max-width:480px){
    .container {
        width: 100%;
        padding: 0px 16px;
        margin-left: auto;
        margin-right: auto;
    }
    .header-container {
        width: 100%;
        display: flex;
        height: 70px;   
        align-items: center;
        justify-content: space-between;
    }

    .section {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .header {
        border-bottom: 1px solid #E7E9FC;
    }

    .header-list {
        display: none;
    }

    

    .contacts-list {
        display: none;
    }
    
    .hero {
        width: 100%;
           background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/mobile-bg.jpg);
        padding-top: 112px;
        padding-bottom: 112px;
        text-transform: capitalize;
    }

    .hero-title {
        width: 100%;
        font-size: 36px;

    }

    .modal {
        width: 100%;
        height: auto;
    }

    .menu-cont-tel {
        font-size: 27px;
    }

    .menu-soc-list {
        gap: 24px;
    }

    .work {
        display: none;
    }

    .features {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .box {
        display: none;
    }
    
    .features-item {
        flex-direction: column;
        width: 100%;
        gap: 72px;
        
    }
    
    .features-item:not(:last-child) {
        padding-bottom: 72px;

    }
    .features-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        margin-bottom: 8px;
        margin-top: 0;
        text-align: center;
    }  
    
    .features-text {
        font-weight: 500;
        font-size: 16px;
        
    }

    .team {
        padding-top: 96px;
        padding-bottom: 128px;
    }

     .team-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        row-gap: 72px;
    }
    
    .team-item {
        display: inline-block;
        width: 264px;
    }
    

    .customers {
        padding-top: 96px;
        padding-bottom: 96px;

    }
    
    .customers-icon-list {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        width: 100%;
        row-gap: 72px;
    }

    .customers-list {
        width: 100%;
    }

    .customers-list-item {
        flex-basis: calc((100% - 16px) / 2);
    }

    /* .customers-list-item:nth-child(-n+4) {
        margin-bottom: 72px;
    }
     */
    .footer {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .container-footer {
        width: 100%;
        padding: 0px 15px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        
    }

    .footer-basement {
        padding-bottom: 72px;
    }

    .footer-text {
        display: inline-block;
        width: 268px;
        text-align: start;
    }

    .footer-media {
        display: inline;
        text-align: center;
    }
    
    .social-med-list {
        justify-content: center;
        padding-bottom: 72px;

    }

    .subscride-wrap {
        display: inline;
    }  
    .subscride-input {
        width: 100%;
        margin-bottom: 16px;
    }

    .subscride-btn {
        margin-left: auto;
        margin-right: auto;
    }
    
    .portfolio-list {
        flex-wrap: wrap;
    }


}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 479px),
  screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 479px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 479px) {
  .hero-section {
    width: 100%;
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-bg@2x.jpg);
    background-size: cover;
  }
}
