.container {
    width: 428px;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    border-bottom: 1px solid #E7E9FC;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-navigation {
    display: flex;
    align-items: center;
}
.header-logo {
    display: flex;
}
.logo-one {
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--primary-brand-color);
}
.logo-two {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em; 
    color: var(--dark-color);
}
.header-list {
    display: none;  
}

.header-item .active::after {
    content: "";
    bottom: -1px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--pressedstate-color);
}

.header-item:not(:last-child) {
    margin-right: 40px;
}

.modal-menu-open {
    display: flex;
    justify-content: flex-end;
    width: 32px;
    height: 22px;
    background-color: transparent;
    border: none;
}

.mobile-menu-open-icon {
   
    stroke: var(--dark-color);
}

.mob-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    width: 428px;
    min-height: 796px;
    background-color: var(--cloud-color);

}
.menu-modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cornflower-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);              
}

.mob-menu-list {
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 284px;
    
}

.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}
.mob-menu-link {
    position: relative;
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    
}

.mob-cont-menu-list {
    padding-left: 40px;
    margin-bottom: 48px;
}

.mob-contacts-tel {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    color: var(--primary-brand-color);
    margin-bottom: 40px;
    

}

.mob-contacts-mail {
    margin-top: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.mob-soc-list {
    display: flex;
    justify-content: center;   
    gap: 56px;
    
}

.mob-soc-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-brand-color);
}

.header-link {
    position: relative;
    display: block;
    padding: 24px 0;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link::after  {
    border-radius: 2px;
    border-bottom: 2px solid var(--pressedstate-color); 

}

.active {
    color: var(--pressedstate-color);
}


.address-ul {
    margin-left: auto;
}

.contacts-list {
    display: none;
}

.contacts-list .link:hover,
.contacts-list .link:focus {
    color: var(--pressedstate-color);
}

.header-mail {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-right: 40px; 
}

.header-tel {
    font-family: inherit;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/mobile-bg.jpg);;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 111px;
    padding-bottom: 108px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.hero-title {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--cloud-color);
    margin-bottom: 48px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--cloud-color);
    background-color: var(--primary-brand-color);
    display: block;
    text-align: center;
    border: transparent;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
   background-color: var(--pressedstate-color);
}


  /*     --------  FEATURES  --------       */

.features {
    padding-top: 96px;
    padding-bottom: 96px;
}

.features-list {
    margin: 0;
    padding: 0;
}

.box {
    display: none;
}

.features-item {
    display: flex;
    flex-direction: column;
    width: 396px;
}
.features-item:not(:last-child) {
    padding-bottom: 72px;
}

.features-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 8px;
    margin-top: 0;
    text-align: center;

}

.features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin: 0;
}

/*     --------  TEAM  --------       */  

.team {
    background-color: var(--lightcloud-color);
    padding-top: 96px;
    padding-bottom: 128px;

}
   
.team-title {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 72px;
    text-align: center;
    
}

.team-list {
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
    
.team-item {
    display: inline-block;
    width: 264px;
    background-color: var(--cloud-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
    margin-bottom: 72px;
}

.card {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin: 0;
    margin-bottom: 8px;
    text-align: center;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin: 0;
    margin-bottom: 8px;
    text-align: center;
}
.social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.teamsoc-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-brand-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);          
}

.teamsoc-list-link:hover,
.teamsoc-list-link:focus {
    background-color: var(--pressedstate-color);
} 

  /*     --------  CUSTOMERS  --------    */

.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}

.customers-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
}

.customers-icon-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 396px;
}

.customers-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 88px;
    flex-basis: calc((100% - 32px) / 2);
    border: 1px solid var(--subtletext-color);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-item:nth-child(-n+4) {
    margin-bottom: 72px;
}
.company-icon {
    fill: var(--subtletext-color);
    transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list:hover,
.customers-list:focus {
    border: 1px solid var(--pressedstate-color);
}

.customers-list:hover .company-icon ,
.customers-list:focus .company-icon {
    fill: var(--pressedstate-color);
}


/*     --------  FOOTER  --------       */  

.footer {
    display: inline-block;
    background-color: var(--dark-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.container-footer {
    
    text-align: center;
   
}

.footer-basement {

    padding-bottom: 72px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    
    margin: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cornflower-color);
    width: 264px;
}   

.footer-media {
    display: inline;
    margin-left: 120px;
    
}

.logo-web {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primary-brand-color);
}

.logo-studio {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--lightcloud-color);
}

.soc-media {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud-color);
    margin-bottom: 16px;
}

.social-med-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-bottom: 72px;
}

.media-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}        

.media-list-link:hover,
.media-list-link:focus {
    background-color: var(--success-color);
}

.subscride-wrap {
    display: inline;
    margin-left: 80px;
}


.subscride-title {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud-color);
    margin-bottom: 16px;
}

.subscride-input {
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    margin-bottom: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;  
    outline: transparent;
    background-color: var(--dark-color);
    color: var(--cloud-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.subscride-input::placeholder {
    font-size: 12px;
    line-height: 2;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6); 
}

.subscride-input:hover,
.subscride-input:focus {
    border-color: var(--primary-brand-color);
}

.subscride-btn {
    
    width: 165px;
    height: 40px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--cloud-color);
    background-color: var(--primary-brand-color);
    border-radius: 4px;
    padding-left: 24px;
    cursor: pointer;
    align-items: center;
    border: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscride-btn:hover,
.subscride-btn:focus {
    background-color: var(--pressedstate-color);
}

.subscride-btn::after {
    content: " ";
    width: 24px;
    height: 24px;
    margin-left: 16px;
    background-size: contain;
    background-image: url(../images/telegr.svg);
}





@media screen and (min-width: 320px) and (max-width: 480px) {
    .container {
        width: 428px;
    }
}

