

@media screen and (min-width:321px) and (max-width:480px) {
    .container {
        width: 428px;
        padding: 0px 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .header-container {
        width: 428px;
        height: 70px;
        display: flex;
        align-items: center;
    }

    .header {
    border-bottom: 1px solid #E7E9FC;
    }

    .header-list {
        display: none;
    }

    .contacts-list {
        display: none;
    }
    
    .hero {
           background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/mobile-bg.jpg);
        max-width: 428px;
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .hero-title {
        font-size: 36px;
        width: 320px;
    }

    .features {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .work {
        display: none;
    }

    .box {
        display: none;
    }
    
    .features-item {
        flex-direction: column;
        width: 396px;
        
    }
    
    .features-item:not(:last-child) {
        padding-bottom: 72px;

    }
    .features-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        margin-bottom: 8px;
        margin-top: 0;
        text-align: center;
    }  
    
    .features-text {
        font-weight: 500;
        font-size: 16px;
        
    }

    .team {
        padding-top: 96px;
        padding-bottom: 128px;
    }
    
    .team-item {
        display: inline-block;
        width: 264px;
    }
    .team-item:not(:last-child) {
        margin-bottom: 72px;

    }
    .customers {
        padding-top: 96px;
        padding-bottom: 96px;

    }
    
    .customers-icon-list {
        
        flex-wrap: wrap;
        gap: 16px;
        width: 396px;
    }

    .customers-list {
        width: 190px;
        height: 88px;
        flex-basis: calc((100% - 32px) / 2);
    }

    .customers-list-item:nth-child(-n+4) {
        margin-bottom: 72px;
    }

    .footer {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .container-footer {
        width: 428px;
        padding: 0px 15px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .footer-basement {
        display: inline-block;
    }

    .footer-text {
        justify-content: flex-start;
    }
    .footer-media {
        display: inline;
        text-align: center;
    }
    
    .social-med-list {
        justify-content: center;
        padding-bottom: 72px;

    }

    .subscride-wrap {
        display: inline;
    }  
    .subscride-input {
        width: 100%;
        margin-bottom: 16px;
    }
    
    
    


}