@media screen and (min-width:768px) and (max-width:1199px) {
    .container {
        width: 768px;
        padding: 0px 16px;
        margin-left: auto;
        margin-right: auto;
    }

    .section {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .modal-menu-open {
        display: none;
    }

    .header-container {
        width: 768px;
        height: 70px;
        display: flex;
        align-items: center;
    }

    .header-list {
        display: flex;
        margin-left: 120px;
    }


   
    .header {
        display: flex;
        padding: 0; 
        margin: 0;
    }

    .contacts-list {
       display: block;
       

    }

    .header-mail, 
    .header-tel {
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04em;
        margin: 0;


    }
    
    .hero {
           background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/tablet-bg.jpg);
        max-width: 768px;
        padding-top: 111px;
        padding-bottom: 108px;
    }

    .hero-title {
        font-size: 56px;
        width: 496px;
        text-transform: none;
    }

    .work {
        display: none;
    }

    .box {
        display: none;
    }

    .features {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .features-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 24px;   
        row-gap: 72px;
    }

    .features-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .features-title {
        text-align: start;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
    }

    .features-text {     
        font-weight: 500;
        font-size: 16px;
        order: 1;
    }

    .team {
        padding-top: 96px;
        padding-bottom: 104px;
    }
    
    .team-list {
        display: flex;
        flex-wrap: wrap;
    }

    .team-item {
        margin-right: 24px;
        margin-bottom: 64px;
    }

    .team-item:nth-child(n+3){
        margin-bottom: 72px;
    }
  
    .customers-icon-list {
        display: flex;
        flex-wrap: wrap;
        width: 552px;
        margin-left: auto;
        margin-right: auto;
    }

    .customers-list {
        width: 168px;
        height: 88px;
        
    }

    .customer-list-item {
        flex-basis: calc((100% - 48px) / 3);
    }

    .container-footer {
        display: flex;
        flex-wrap: wrap;
        width: 552px;
    }

    .footer-logo {
        text-align: start;
    }

    .footer-text {
        width: 264px;
    }

    .footer-form {
        display: flex;
    }

    .footer-media {
        margin-left: 24px;
    }

    .soc-media {
        text-align: start;
    }
    

    .subscride-title {
        text-align: start;
    }

    .subscride-input {
        width: 264px;

    }
    
    

}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px)  {
  .hero-section {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/tablet-bg@2x.jpg);
    background-size: cover;
  }
}