:root {
    --primary-brand-color:#4D5AE5;
    --dark-color:#2E2F42;
    --text-color:#434455;
    --cloud-color:#ffffff;
    --cornflower-color:#E7E9FC;
    --lightcloud-color:#F4F4FD;
    --pressedstate-color:#404BBF; 
    --subtletext-color:#8E8F99;
    --success-color:#31D0AA
}